<h1>Monthly Payment Plan!</h1>


<div class="play-container">
  
    <p> Please enter your desired payback time (years) and the desired loan amount.</p>
    <form [formGroup]="loanInfo" class="form">
            <mat-form-field appearance="fill">
                <mat-label>Payback Time:</mat-label>
                <input matInput
                       formControlName="paybackTime"
                       type="number" step="10"
                       (change) ="updatePaybackTime()">
                <input 
                      formControlName="paybackTime"
                      (change) ="updatePaybackTime()"
                      type="range" min="0" max ="100">
                <mat-error *ngIf="loanInfo.controls.paybackTime.hasError('max')">
                      Payback Time cannot be longer than 100 years
                </mat-error>
                      
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Amount:</mat-label>
                <input matInput
                       formControlName="amount"
                       (change)="updateAmount()"
                       type="number" step="1000">

                <input 
                      formControlName="amount"
                      (change) ="updateAmount()"
                      type="range" min="0" max ="100000000">
                <mat-error *ngIf="loanInfo.controls.amount.hasError('max')">
                      Amount cannot exceed 10000000 money
                </mat-error>
            </mat-form-field>
            
            
        <button mat-raised-button color=primary (click)="send()" [disabled]="loanInfo.invalid">Get Your monthly payment plan!</button>
        
    </form>
   
</div>
<div class="play-container">
  <h1>Payments</h1>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
              <tr *matNoDataRow>
                <td class="mat-cell" >Please provide your loan information above.</td>
              </tr>
              
        <!-- index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> index </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>
      
        <!-- payment Column -->
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef> payment </th>
          <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
        </ng-container>
      
        <!-- principal Column -->
        <ng-container matColumnDef="principal">
          <th mat-header-cell *matHeaderCellDef> principal </th>
          <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
        </ng-container>

        <!-- interest Column -->
        <ng-container matColumnDef="interest">
          <th mat-header-cell *matHeaderCellDef> interest </th>
          <td mat-cell *matCellDef="let element"> {{element.interest}} </td>
        </ng-container>

        <!-- balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef> balance </th>
          <td mat-cell *matCellDef="let element"> {{element.balance !="0" ? element.balance : "0"}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[12, 24, 36]" showFirstLastButtons></mat-paginator>
    </div>



