<h1>Welcome!</h1>

<div class="play-container">
    
    <form [formGroup]="loanInfo" class="form">
            <mat-form-field appearance="fill">
                <mat-label>Payback Time:</mat-label>
                <input matInput
                       formControlName="paybackTime"
                       type="number" step="1000">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Amount:</mat-label>
                <input matInput
                       formControlName="amount"
                       type="number" step="1000">
            </mat-form-field>
            
        <button mat-raised-button color=primary (click)="send()" [disabled]="loanInfo.invalid">Get Your monthly payment plan!</button>
        
    </form>
   
</div>
<div class="play-container">
  <h1>Payments</h1>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
              <tr *matNoDataRow>
                <td class="mat-cell" >No data found</td>
              </tr>
              
        <!-- index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> index </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>
      
        <!-- payment Column -->
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef> payment </th>
          <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
        </ng-container>
      
        <!-- principal Column -->
        <ng-container matColumnDef="principal">
          <th mat-header-cell *matHeaderCellDef> principal </th>
          <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
        </ng-container>

        <!-- interest Column -->
        <ng-container matColumnDef="interest">
          <th mat-header-cell *matHeaderCellDef> interest </th>
          <td mat-cell *matCellDef="let element"> {{element.interest}} </td>
        </ng-container>

        <!-- balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef> balance </th>
          <td mat-cell *matCellDef="let element"> {{element.balance !="0" ? element.balance : "0"}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[12, 24, 36]" showFirstLastButtons></mat-paginator>
    </div>



